{% extends 'students/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg text-center" style="width: 30rem;">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Error!</h4>
        </div>
        <div class="card-body">
            <p class="lead text-danger">{{ message }}</p>
            <a href="{% url 'student_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Go back to the student list
            </a>
        </div>
    </div>
</div>
{% endblock %}
